.page_number {
  text-align: center;
  width: 80%;
  margin: auto;
}

.page_list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  font-size: 2rem;
}
.list {
}

.list__item {
  text-decoration: none;
  color: #3269a8;
}
.list__item:hover {
  text-decoration: underline;
  color: #063d7c;
}

.activeNumber {
  font-size: 2.2rem;
  text-decoration: underline;
}
