* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  
  min-height: calc(100vh - 2 * 4vw);
}

.container {
  display: grid;
  grid-template-rows: 25vh minmax(100rem, auto);
  grid-template-columns: .7fr 2fr 1fr;
  grid-template-areas: 'head head head' 'list recipe shopping';
}
@media only screen and (max-width: 68.75em) {
  .container {
  }
}
