* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-weight: 400;
  line-height: 1.6;
  background-color: #f5f5f5;
}

.container {
    display: grid;
    grid-template-rows: 10rem minmax(100rem, auto);
    grid-template-columns: 1.1fr 2fr 1.1fr;
    grid-template-areas: "head head head" "list recipe shopping"; 
}
.btn {
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  transform: scale(1.05);
}
.btn:focus {
  outline: none;
}
.btn {
  padding: 1.3rem 3rem;
}

.header {
  grid-area: head;
  height: 25vh;
  background-image: url(./components/chopping.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.search_form {
  padding-top: 10rem;
}
.search {
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  width: 40vw;
  min-width: 45rem;
  margin: auto;
  padding: 0.2rem;
}
.search_btn {
  margin-left: auto;
  margin-right: 0.5rem;
  border-radius: 10rem;
}
.search_field {
  border: none;
  background: none;
  font-size: 2rem;
  width: 100%;
  margin-left: 3rem;
}
.search_field:focus {
  outline: none;
}
.search_field::placeholder {
  color: #bababa;
}
